body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}

.span{
    color: rgb(54, 113, 113);
}
.flexible-container{
    display: flex;
    margin-bottom:150px ;
}
.half-width{
  width: 50%; 
  padding-left: 5%; 
  padding-right: 5%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-color: rgb(54, 113, 113);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
}
#second{
    width: 70%;
    height: 80%;
    margin-left: 100px;
}
.experience{
  width: 40%; 
  padding-left: 5%; 
  padding-right: 5%;
  margin-left: 5%;
  border-radius: 1%;
  margin-right: 5%;
  box-shadow: 10px 10px 40px gray;

}
.experience-area{
    background-image: url(exp-bg.png
    );
    background-repeat: no-repeat;
    background-position: left;
}